<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ToDoProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>a-dark-wedding1.ttf</string>
		<string>advergothiccamc.ttf</string>
		<string>atomic-sushi.ttf</string>
		<string>baltimore-nouveau.ttf</string>
		<string>bushido.ttf</string>
		<string>catharsis-bedouin.ttf</string>
		<string>dark-crystal-outline.ttf</string>
		<string>dark-horse-italic.ttf</string>
		<string>dark-horse-shadow.ttf</string>
		<string>dark-side-brk.ttf</string>
		<string>dewberry-bold.ttf</string>
		<string>japperneese.ttf</string>
		<string>katana-shadow.ttf</string>
		<string>khmer.ttf</string>
		<string>madelikesslab.ttf</string>
		<string>ming-gothic.ttf</string>
		<string>new-record.ttf</string>
		<string>ninjaline.ttf</string>
		<string>orchidee-light.ttf</string>
		<string>orchidee-medium.ttf</string>
		<string>parnas-deco.ttf</string>
		<string>public-utility-jeepney.ttf</string>
		<string>quasi.ttf</string>
		<string>rostov.ttf</string>
		<string>samuraicabco-bb.ttf</string>
		<string>the-dark-ages.ttf</string>
		<string>theater-afisha.ttf</string>
		<string>ultra-9112.ttf</string>
	</array>
</dict>
</plist>
